/* MapStyle.module.css */
.container {
  height: 90vh;
  width: 100%;
}

.listContainer {
  display: flex;
  flex-direction: row;
  padding: 3vh;
  width: 33.33vh;
  box-sizing: border-box;
}

.hotelList {
  max-height: calc(102vh - 200px);
  overflow-y: auto;
}

.paper {
  width: 94%;
  padding: 3%;
  cursor: pointer;
}

.mapContainer {
  height: 90vh;
  position: relative;
}

.fullWidth {
  width: 100%;
}

.searchBar {
  position: absolute;
  top: 8.5%;
  left: 44%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 10%;
  background-color: white;
}