.container {
    height: 93vh;
  }
  
  .listContainer {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  .hotelList {
    flex: 1;
    overflow-y: auto;
    max-height: calc(92vh - 64px);
  }
  
  .paper {
    width: 94%;
    padding: 3%;
    cursor: pointer;
  }
  
  .mapContainer {
    height: 100%;
    width: 100%;
  }
  